<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <span>Update Task</span>
    </ion-title>

  </ion-toolbar>
  <ion-fab vertical="bottom" horizontal="end">
    <ion-fab-button (click)="dismiss()">
      <ion-icon name="close">Add</ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-content>
      <ion-item>
        <ion-textarea label="Task" placeholder="Type something here" [(ngModel)]="task.name"></ion-textarea>
      </ion-item>

      <ion-item>
        <ion-select label="Category" placeholder="Pick priority" [(ngModel)]="task.category">
          <ion-select-option value="low">Low</ion-select-option>
          <ion-select-option value="high">High</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-datetime-button datetime="datetime"></ion-datetime-button>

        <ion-modal [keepContentsMounted]="true">
          <ng-template>
            <ion-datetime id="datetime" [(ngModel)]="task.date"></ion-datetime>
          </ng-template>
        </ion-modal>
      </ion-item>

      <ion-item>
        <ion-button expand="full" (click)="updateTask()">Update task</ion-button>
      </ion-item>

    </ion-card-content>
  </ion-card>
</ion-content>