<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <h1>Add New Task</h1>
      <p><ion-icon name="close-circle-outline" (click)="dismiss()"></ion-icon></p>
    </ion-title>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-content>
      <ion-item>
        <ion-textarea label="Task" placeholder="Type something here" [(ngModel)]="taskName"></ion-textarea>
      </ion-item>

      <ion-item>
        <ion-select label="Category" placeholder="Pick priority" [(ngModel)]="taskCategory">
          <ion-select-option value="low">Low</ion-select-option>
          <ion-select-option value="high">High</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-datetime-button datetime="datetime"></ion-datetime-button>

        <ion-modal [keepContentsMounted]="true">
          <ng-template>
            <ion-datetime id="datetime" [(ngModel)]="taskDate"></ion-datetime>
          </ng-template>
        </ion-modal>
      </ion-item>

      <ion-item>
        <ion-button expand="full" (click)="addTask()">Add task</ion-button>
      </ion-item>

    </ion-card-content>
  </ion-card>
</ion-content>

<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Add New Task</ion-title>
    <ion-icon name="close-circle-outline" slot="end" size="large" (click)="dismiss()"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-content>

      <ion-item>
        <ion-textarea [(ngModel)]="taskName" placeholder="Upisi naziv taska"></ion-textarea>
      </ion-item>


      <ion-item>
        <ion-select placeholder="Kategorija" [(ngModel)]="taskCategory">
          <ion-select-option value="low">Low</ion-select-option>
          <ion-select-option value="middle">Middle</ion-select-option>
          <ion-select-option value="high">High</ion-select-option>
        </ion-select>
      </ion-item>


      <ion-item>
        <ion-icon name="calendar"></ion-icon>
        <ion-datetime-button datetime="datetime"></ion-datetime-button>
        <ion-modal [keepContentsMounted]="true">
          <ng-template>
            <ion-datetime id="datetime" [(ngModel)]="taskDate"></ion-datetime>
          </ng-template>
        </ion-modal>
      </ion-item>


      <ion-button expand="full" (click)="addTask()">Add new task</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content> -->